* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer {
    background-color: aliceblue;
    padding: 30px 0;
}

main {
    display: flex;
    margin: 60px;
    gap: 20px;
}

section {
    width: 70%;
    background-color: aqua;
}

section form {
    margin: 20px;
}

aside {
    width: 30%;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: auto auto;

}

aside img {
    width: 100px;
    height: 100px;
    margin: 5px auto;
}

input {
    width: 20px;
}